body {
background-color: rgba(19, 18, 18, 0.76);
background-image: linear-gradient(to right, rgba(19, 18, 18, 0.7), rgba(19, 18, 18, 0.4)), url('./pexels-photo-814499.jpeg');
color: whitesmoke;
text-align: center;
}

p {
  font-size: 1.15em;
  text-align: justify;
  text-justify: auto;
}

li {
  text-align: left;
}